<div id='booksWrapperDiv'>
	{{#each books}}
		<div class='book'>
			<b> {{title}}</b>
			<p>Author: {{author}}</p>
			<p>Rating: {{rating}}</p>
			<p>Description: {{description}}</p>
		</div>
	{{/each}}
</div>
