<div id='booksWrapperDiv'>
	{{#each books}}
		<div class='book'>
			<h3> {{title}}</h3>
			<p> <b> Author: </b> {{author}} </p>
			<a href='/books/{{_id}}'>View Details</a>
		</div>
	{{/each}}
</div>
