body {
	padding: 50px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
	color: #00b7ff;
	text-decoration: none;
}

.create-book {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.create-book textarea {
	resize: none;
	font-size: 1.2em;
}
